#user_block
{
	background: #3a3a3a;
	border: 0px;
	border-radius: 10px;

	width: 280px;
	margin: auto;
	
	padding-top: 20px;
	padding-bottom: 20px;
}

#profile_picture
{
	background: #f4f4f4;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	border: 0px;
	margin: auto;
}

#profile_name
{
	color: #f4f4f4;
	font-weight: bold;
	width: 100%;
}

#profile_description
{
	width: 90%; min-height: 40px;
	color: #f4f4f4;
	font-size: 15px;
	overflow: hidden;
	margin: auto;
}

.button {
      appearance: button;
      -moz-appearance: button;
      -webkit-appearance: button;
      text-decoration: none; 
      font: menu; 
      color: ButtonText;
      display: inline-block; 
      padding: 4px 35px;

}

.info{
	background: white;
	width: 200px;
	height: 100px;
	margin: auto;
	border-style: solid;
	border-color: black;
    border-width: 5px;
}
