#settings_red, .settings_blue
{
	width: 50px; height: 50px;
	margin: auto;
}

#settings_red
{
	background: red;
	color: white;
} 

h1 {
  color: block;
  font-family: 'Shift', sans-serif;
  font-size: 48px;
  font-variant: small-caps;
}

.settings_blue
{
	background: blue;
	color: orange;
}

.custom {
	width: 220px;
}

.setting
{
	margin: auto;
	height: 40px;
	max-width: 300px;
	line-height: 40px;
	font-size: 16px;
	background: #f4f4f4;
	color: #3d3d3d;
	text-shadow: none;
	margin-bottom: 10px;
}

.setting:hover
{
	background: white;
	cursor: pointer;
}
