body
{
	text-align: center;
	background: #4c9dff;
	font-family: 'Cabin', 'Helvetiva', 'Arial', sans-serif;
}

#mainContainer
{
	padding-top: 15px;
	padding-bottom: 15px;
	height: 400px;
	color: #3d3d3d;
}

#logocontainer, #logocontainer_small
{
	width: 300px;
	height: 120px;
	margin: auto;
}

#logocontainer_small
{
	width: 160px;
	height: 50px;
	margin: auto;
}

#logo
{
	width: 300px; height: 100px;
	margin-top: 30px;
	background: url('https://s3-us-west-2.amazonaws.com/greatdays/collegedays_600x200.png') no-repeat center center;
	background-size: 260px;
}

#logo_small
{
	width: 160px; height: 50px;
	margin-top: 30px;
	background: url('https://s3-us-west-2.amazonaws.com/greatdays/collegedays_600x200.png') no-repeat center center;
	background-size: 160px;
	
}

form 
{
    min-width: 300px;
}

.textinput
{
	width: 260px;
	height: 40px;
	border: none;
	padding-left: 8px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 3px;
	margin-bottom: 15px;
	font-size: 16px;
	padding: none;
	-webkit-appearance:none;  
    -webkit-border-radius:3px;
}

#errorcontainer
{
	margin-bottom: 10px;
	color: #f4f4f4;
	height: 15px;
}

.submitButton, #loginbutton, #signupbutton
{
	width: 260px;
	height: 60px;
	border: none;
	border-radius: 5px;
	background: #e53855;
	padding: none;
	font-family: 'Cabin';
	color: #f4f4f4;
	-webkit-appearance: none;
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    font-size: 20px;
	font-weight: bold;
	text-shadow: #3d3d3d 0px 1px;
}

#signupbutton
{
	background: #77dbb7;
}

#signupcontainer, #logoutcontainer
{
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	color: #233e59;
}

#logoutlink:hover
{
	cursor: pointer;
}



